[Unit]
Description=FlouAppNew Expo Server
After=network.target

[Service]
Type=simple
User=node
WorkingDirectory=/home/jj755403/FlouAppNew
Environment="NODE_ENV=production"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
